{% extends 'shop/base.html' %}
{% load static %}

{% block banner_slider %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'shop/images/b4.jpg'%}" class="d-block w-100" alt="thiết kế theo sở thích" height="850">
        <div class="carousel-caption d-none d-md-block bg-success text-white">
          <h5>Áo phông </h5>
          <p>Áo phông chữ nổi </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'shop/images/b9.jpg'%}" class="d-block w-100" alt="..." height="850">
        <div class="carousel-caption d-none d-md-block bg-success text-white">
          <h5>Set đôi </h5>
          <p>set năng động </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'shop/images/b2.jpg'%}" class="d-block w-100" alt="..." height="850">
        <div class="carousel-caption d-none d-md-block bg-success text-white">
          <h5>Áo hoodie </h5>
          <p>Áo hoodie gấu siêu dễ thương </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'shop/images/b11.jpg'%}" class="d-block w-100" alt="..." height="850">
        <div class="carousel-caption d-none d-md-block bg-success text-white">
          <h5>Đầm suông </h5>
          <p>đầm suông hoa văn </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner_slider %}

{% block main-content %}
<div class="row">
  {% for product in san_pham_list %}
  <<div class="col-lg-4">
    <img class="thumbnail" src="{{product.image_url}}">
    <div class="box-element product">
      <h6><strong>{{product.ten}} </strong></h6>
      <hr>

      <button class="btn btn-outline-secondary add-btn">Thêm vào giỏ hàng</button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h3 style="display: inline-block; float:right"><strong>{{product.gia}}</strong></h3>
    </div>
  </div>
  {% endfor %}
</div>
<br/><br/><br/>
{% endblock main-content %}
